

$black: #100F14;

@import 'normalize';
@import 'typography';
@import 'navigation';
@import 'sidebar';
@import 'comments';
@import 'footer';


body {
	color: #333;
	font-family: 'Poppins', sans-serif;
}
h3 {
	letter-spacing: 3px;
	border-bottom: 8px solid $black;
	font-size: 25px;
	display: inline-block;
	padding: 10px;
	margin-bottom: 60px;
}
h4 {
	margin: 0 0 7px;
	font-size: 23px;
	font-weight: 100;
	display: inline-block;
	padding: 7px 11px;
	box-shadow: -10px -10px $black;
	text-transform: uppercase;
	border: 5px solid $black;
}
.title-wrapper {
	max-width: 900px;
	margin:0 auto;
}
.hero2-container {
	display: none;
	padding: 0 12px;
}
.hero {
	padding: 23px 0 0;
	.box-container {
		height: 715px;
		max-width: 1090px;
		margin: 121px auto 0;
		position: relative;
		z-index: -2;
		img {
			width: 100%;
			height: 100%;
		}	
	}
}
.box-1 {
	height: 72%;
	width: 75%;
	position: absolute;
	top: 88px;
	left: 78px;

}
.box-2 {
	background: white;
	height: 740px;
	position: absolute;
	top: -140px;
	left: 0;
	width: 653px;
	position: relative
}
.box-3 {
	height: 715px;
	width: 653px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 9;
}
.page-heading {
	position: absolute;
	width: 493px;
	top: -82px;
	left: 323px;
	z-index: 10;
	background: $black;
	height: 564px;
}
.top-title {
	position: absolute;
	z-index: 12;
	top: 5px;
	left: 363px;
	h1 {
		max-width: 360px;
		font-weight: 600;
		line-height: 1;
		letter-spacing: 18px;
		font-size: 103px;
		margin: 0 auto;
		color: white;
	}
}
.block {
	display: block;
}
// About CSS
.about {
	width: 100%;
	padding: 50px 60px;
	.about-container {
		margin: 0 auto;
		max-width: 1000px;
		display: flex;
		justify-content: space-between;
	}
}
.about-content {
	width: 48%;
	max-height: 330px;
	p {
		line-height: 1.4;
		font-size: 15px;
		letter-spacing: 1px;
	}
	ul {
	padding-left: 0;
	}
	li {
		list-style-type: none;
		display: inline;
		margin-right: 5px;
	}
	a {
		color: $black;
		transition: color 0.4s;
		font-size: 18px;
		&:focus {
			outline: transparent;
		}
		&:hover {
			color: #74d5e7;
		}
	}
}
.about-image-container {
	width: 30%;
	img {
		width: 100%;
		box-shadow: 20px 20px 0 $black;
	}
}
// Portfolio CSS
.portfolio {
	padding: 50px 40px;
}
.portfolio-item-container {
	max-width: 1000px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	margin: 50px auto 130px;
	align-items: center;
	.portfolio-image {
		width: 50%;
		img {
			width: 100%;
			display: block;
		}
	}
}
/* hover effect credit: ianlunn.github.io/hover/  */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $black;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active, .hvr-sweep-to-right:visited {
  color: white;
  background: #74d5e7;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.portfolio-content {
	width: 45%;
	text-align: right;
	// padding: 50px 0 0;
	h4 {
		margin-left: 10px;
		box-shadow: 10px -10px $black;
		margin-right: 10px;
	}
	p {
		font-size: 13px;
		letter-spacing: 1px;
		margin: 10px 0;
	}
	p:nth-child(2) {
		font-weight: 700;
		font-size: 14px;
		text-transform: uppercase;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		padding-left: 0;
		margin: 15px 0;
		justify-content: flex-end;
	}
	li {
		list-style-type: none;
		background: $black;
		color: white;
		margin: 4px;
		padding: 7px;
		font-size: 12px;
		letter-spacing: 1px;
	}
	li:last-child {
		margin-right: 0;
	}
}
.view-live {
	background-color: #74d5e7;
	border: none;
	padding: 4px 8px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 0.3s;
	color: white;
	&:hover {
		color: white;
	}
	&:visited {
		background: #74d5e7;
	}
}
// Skills CSS
.skills {
	width: 100%;
	padding: 50px 20px;
	.skill-container {
		max-width: 800px;
		margin: 0 auto 67px;
		padding: 5px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
.skill-item {
	text-align: center;
	padding: 10px;
	width: 20%;
}
.devicons {
	font-size: 65px;
	color: #1B1A1A;
}
// Contact CSS
.contact {
	width: 100%;
	padding: 50px 20px;
	.form-wrapper {
		max-width: 950px;
		margin: 0 auto;
	}
}
.contact-info {
	max-width: 331px;
	margin: 0 auto;
	p {
		font-size: 15px;
	}
	a {
		font-family: 'Poppins', sans-serif;
	}
}
.wpcf7-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 530px;
	padding: 20px;
	margin: 0 auto;
	p {
		width: 100%;
	}
	textarea {
		width: 100%;
		height: 180px;
		border: none;
		border: 2px solid $black;
		outline: transparent;
		transition: border 0.3s;
		&:focus {
			border: 2px solid #74d5e7;
		}
	}
	input[type="text"], 
	input[type="email"] {
		width: 100%;
		border: none;
		border: 2px solid $black;
		outline: transparent;
		transition: border 0.3s;
		padding: 3px;
		&:focus {
			border: 2px solid #74d5e7;
		}
	}
	p:nth-child(even) {
		margin: 10px 0;
	}
	input[type="submit"] {
		background: #74d5e7;
		color: white;
		outline: transparent;
		border: none;
		padding: 5px 18px;
		transition: all 0.3s;
		text-transform: uppercase;
		&:hover {
			background: $black;
			color: white;
		}
	}
}

// Hamburger Menu animation
// Code Credit: Mitar Djakovic 

.btn-nav {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 99999;
}

.btn-nav:focus {
  outline: 0;
}

.icon-bar {
  display: block;
  margin: 6px 0;
  width: 35px;
  height: 5px;
  background-color: $black;
}
.animated {
  display: block;
  margin: 0 auto;
}

.animated:hover .icon-bar,
.animated:focus .icon-bar{
  background-color: $black;
}

.animated:focus {
  cursor: pointer;
  z-index: 9999;
}

.middle {
  margin: 0 auto;
}

.icon-bar {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
  z-index: 999999;
}

.animated .icon-bar {
  z-index: 999999;
  background-color: $black;
}

.animated .top {
  -webkit-transform: translateY(10px) rotateZ(45deg);
  -moz-transform: translateY(10px) rotateZ(45deg);
  -ms-transform: translateY(10px) rotateZ(45deg);
  -o-transform: translateY(10px) rotateZ(45deg);
  transform: translateY(10px) rotateZ(45deg);
}

.animated .bottom {
  -webkit-transform: translateY(-11px) rotateZ(-45deg);
  -moz-transform: translateY(-11px) rotateZ(-45deg);
  -ms-transform: translateY(-11px) rotateZ(-45deg);
  -o-transform: translateY(-11px) rotateZ(-45deg);
  transform: translateY(-11px) rotateZ(-45deg);
}

.animated .middle {
  width: 0;
}

// End of Hamburger Menu Animated CSS

@import 'mediaqueries.scss';






